<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark" />
    <title>Vote pour le Défi des Cantons - Erreur</title>
    <link
      href="{{ url_for('static', path='/css/pico.red.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', path='/css/site.css') }}"
      rel="stylesheet"
    />

    <!-- Dev: load source entry so Vite HMR can update without restarting -->
    <script
      type="module"
      src="https://dc-ranking.aperoescape.ch/ht-ae-dc-ranking.js"
    ></script>
  </head>
  <body>
    <header>
      <img
        class="logo"
        src="{{ url_for('static', path='/img/apero-escape.svg') }}"
        alt="Logo"
      />
    </header>
    <main class="container">
      <h1>Vote des cantons</h1>
      <!-- 2. Display your custom element instantly -->
      <apero-escape-chart cantons="FR,VD,VS,GE"></apero-escape-chart>
    </main>
  </body>
</html>
